[Project Management]
/.gitlab/           @konecnyjakub
/.github/           @konecnyjakub
/README.md          @konecnyjakub
/LICENSE.md         @konecnyjakub
.gitignore          @konecnyjakub
/composer.json      @konecnyjakub

[Release Management]
/CHANGELOG.md       @konecnyjakub
/RELEASE_NOTES      @konecnyjakub
.gitattributes      @konecnyjakub

[Continous integeration]
/.gitlab-ci.yml     @konecnyjakub
/.github/workflows/ @konecnyjakub
/build.xml          @konecnyjakub

[Quality Assurance]
/phpstan.neon       @konecnyjakub
/phpcs.xml          @konecnyjakub

[PHP Code]
/src/               @konecnyjakub

[Tests]
/tests/             @konecnyjakub
